.git
.github
.gitignore
.opencode
.vscode
.idea

venv/
.venv/
node_modules/
.turbo/

docs/
k8s/
tools/
packages/ui/
packages/sdk/

apps/
!apps/backend/
!apps/web/

*.md
!apps/backend/README.md
!apps/web/README.md

.env
.env.*
!.env.example
